<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/BDTpIntegrador?createDatabaseIfNotExist=true
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<mapping class="tp.dominio.Libro" />
		<mapping class="tp.dominio.Genero" />
		<mapping class="tp.dominio.Biblioteca" />
		<mapping class="tp.dominio.Autor" />
		<mapping class="tp.dominio.Nacionalidad" />
		<mapping class="tp.dominio.Usuario" />
		<mapping class="tp.dominio.Cliente" />
		<mapping class="tp.dominio.Persona" />
		<mapping class="tp.dominio.Localidad" />
	</session-factory>
</hibernate-configuration>
